@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Stick&display=swap');

.mr-logo {
  width: 100%;
  height: 100%;
  font-size: 30pt;
  font-family: 'Stick', sans-serif;
  word-break: break-all;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mr-play-button {
  font-family: 'Stick', sans-serif;
}
