@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

.wb-logo {
  width: 100%;
  height: 100%;
  background-color: #56766b;
  color: white;
  font-size: 30pt;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
  word-break: break-all;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wb-play-button {
  background-color: #56766b;
  transition: background-color 0.2s linear;
  &:hover {
    background-color: #c59849;
  }

  a {
    color: white;
  }
}
