.card {
  width: 170px;
  height: 320px;
  //box-shadow: 2px 2px 2px 2px black;
  border: 1px solid black;

  display: flex;
  flex-direction: column;

  .upper {
    flex: 0 0 120px;
  }

  .lower {
    flex: 1 1 auto;
    padding: 5px;

    display: flex;
    flex-direction: column;

    .points {
      flex: 1 1 auto;
      ul {
        margin: 0;
      }
    }

    .blurb {
      flex: 2 1 auto;
    }

    .play-button {
      flex: 0 0 auto;
      align-self: center;
      width: 80px;
      border-radius: 25px;
      padding: 3px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
      }
    }
  }
}
