.card {
  flex: 0 0 auto;
  width: 250px;
  height: 400px;
  margin: 15px;
  //box-shadow: 5px 5px 15px 0px #888585;
  background-color: #e8e8e8;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  .upper {
    flex: 0 0 auto;
    padding-top: 30px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      width: 140px;
      height: 140px;
      border-radius: 50%;
    }
  }

  .lower {
    flex: 1 1 auto;
    padding: 0px 20px 15px 20px;
    display: flex;
    flex-direction: column;

    .title {
      flex: 0 0 20px;
      align-self: center;
      margin-bottom: 5px;
    }

    .points {
      flex: 1 1 auto;
      ul {
        margin: 0;
      }
    }

    .blurb {
      flex: 2 1 auto;
      text-align: center;
    }

    .play-button {
      flex: 0 0 auto;
      align-self: center;
      width: 80px;
      height: 30px;
      border-radius: 25px;
      padding: 3px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        align-self: center;
        text-decoration: none;
      }
    }
  }
}
